<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <title>Login</title>
</head>
<body class="bg-gray-100 font-sans antialiased" >
    <!-- Navbar -->
    <nav class="bg-green-700 p-4 text-white flex justify-between">
        <div>
            <h1 class="text-3xl font-bold">Mona</h1>
        </div>
        <div>
            <a href="Signup" class="text-white hover:underline">Signup</a>
        </div>
    </nav>

    <!-- Main content -->
    <div class="flex items-center justify-center h-screen">
        <div class="bg-white p-8 shadow-md rounded-lg max-w-md w-full">
            <!--- LOGIN FORM -->
            <form action="" class="space-y-4" method="POST">
                {% csrf_token %}
                {% for message in messages  %}
                    <h3 style="color: red">{{ message }}</h3>
                {% endfor %}
                <h2 class="text-xl font-semibold">Login</h2>
                <div>
                    <label for="Username" class="block mb-1 font-medium">Username</label>
                    <input type="text" id="Uuername" name="username" placeholder="Enter Username" class="w-full p-2 border rounded">
                </div>
                <div>
                    <label for="Password" class="block mb-1 font-medium">Password</label>
                    <input type="password" id="password" name="password" placeholder="Enter Username" class="w-full p-2 border rounded">
                </div>
                <button type="submit" class="w-full bg-green-700 text-white p-2 rounded hover:bg-blue-700">Login</button>
            </form>
            <h5 style="color: green"><a href="Signup">Don't have an account? Kindly signup</a></h5>
        </div>
    </div>
</body>
</html>