<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <title>Signup</title>
</head>
<body class="bg-gray-100 font-sans antialiased" >
    <!-- Navbar -->
    <nav class="bg-green-700 p-4 text-white flex justify-between">
        <div>
            <h1 class="text-3xl font-bold">Mona</h1>
        </div>
        <div>
            <button style="background-color: black"><a href="Login" class="text-white hover:underline">Login</a></button>
        </div>
    </nav>

    <br>

    <!-- Main content -->
    <div class="flex items-center justify-center h-screen">
        <div class="bg-white p-8 shadow-md rounded-lg max-w-md w-full">

            <!--- SIGN UP FORM -->
            <form action="" class="space-y-4" method="POST">
                {% csrf_token %}
                {% for message in messages %}
                    <h3 style="color: red">{{ message }}</h3>
                {% endfor %}
                
                <h2 class="text-xl font-semibold">Sign Up</h2>
                <div>
                    <label for="Username" class="block mb-1 font-medium">Username</label>
                    <input type="text" id="username" name="username" placeholder="Enter Username" class="w-full p-2 border rounded">
                </div>
                <div>
                    <label for="email" class="block mb-1 font-medium">Email</label>
                    <input type="email" id="email" name="email" placeholder="Enter Email" class="w-full p-2 border rounded">
                </div>
                <div>
                    <label for="Password" class="block mb-1 font-medium">Password</label>
                    <input type="password" id="password" name="password" placeholder="Enter Password" class="w-full p-2 border rounded">
                </div>
                <div>
                    <label for="repeatPassword" class="block mb-1 font-medium">Confirm Password</label>
                    <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Repeat Password" class="w-full p-2 border rounded">
                </div>
                <button type="submit" class="w-full bg-green-700 text-white p-2 rounded hover:bg-blue-700">Sign Up</button>
            </form>
            <h5 style="color: green"><a href="Login">Already have an account? Kindly login</a></h5>
        </div>
    </div>
</body>
</html>